apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: ${clustername}
spec:
  hosts:
  - ssh:
      address: ${externalAddress}
      user: root
      port: 22
    role: controller+worker

  k0s:
    version: ${version}
    config:
      kind: Cluster
      metadata:
        name: k0s
      spec:
        api:
          externalAddress: ${externalAddress}
          sans:
            - ${externalAddress}
